.DropDown {
    width: 9.22rem;
    height: 1.88rem;
    margin: 1.19rem -11.62rem 0rem 0.7rem;
    z-index: 90;
    border-radius: 0.37rem;
    border-color: darkgray;


}

.DropDown:hover{
    cursor: pointer;
}