
.Container {
    display: flex;
    margin : 0 0 0.75rem;
}


.RegionVapen{
    height: 8.75rem;
    text-align: center;
}

.RegionSubDiv {
    height: 19.19rem;
    width: 50%;
    border-style: solid;
    border-color: darkgray;
    border-width: 0.06rem;
    border-radius: 0.38rem;
    padding: 0.70rem 0;
    margin: 1.06rem 0.5rem 0 0;
    box-sizing: border-box;
}


.RegionTitle {
    font-size: 1.88rem;
    text-align: center;
    margin-bottom: 20%;
    margin-top: 0;
}



.Key {
    text-align: left;
    padding-left: 0.94rem;
}

.Value {
    text-align: right;
    padding-right: 0.94rem;
}

.RegionPaddingTop {
 padding-top: 0.94rem;
}



@media (max-width: 66.81rem) {

    .RegionTitle{
        font-size: 1.44rem;
    }
}


