main {
    margin-top: 56px;
    display: flex;
    flex-flow: row;
    /*width: auto;*/
    width: 100%;
    height: 100%;
    position: absolute;
}

.SvgDiv{
    width: 30%;
    height: 90%;
    display: flex;
}

SwedenTable {
display: flex;
flex-flow: row;
}

RegionTable{
    display: block;
    height: 50%;
}

.TablesDiv {
    width: 30%;
    display: flex;
}

.smallTables{
    display: flex;
    flex-flow: column;
    width: 40%;
    margin-top: 32px;
}

p {
    margin: 1px;
}

.selected{
    font-weight: lighter;
}
