main {
    margin-top: 56px;
    display: flex;
    flex-flow: row;
    /*width: auto;*/
    width: 100%;
    height: 100%;
    position: absolute;
}

.SvgDiv{
    width: 37%;
    height: 90%;
    display: flex;
}

.TablesDiv {
    width: 63%;
    display: flex;
    flex-flow: row;
}

.smallTables{
    width: 40%;
    margin-top: 18px;
}

p {
    margin: 2px;
}

.selected{
    font-weight: lighter;
}