main {
    margin-top: 56px;
    display: flex;
    flex-flow: row;
    width: auto;
}

.SvgDiv{
width: 40%;
}

.TablesDiv {
    width: 60%;
    display: flex;
    flex-flow: row;
}

.smallTables{
    width: 40%;
    margin-top: 56px;
}