.SvgMap{
    margin: auto;
    width: 50%;
}

.lan {
    fill : RGB(255,255,0);
    stroke : #cccccc;
}

path:hover{
    opacity: 0.5;
    cursor: pointer;
}

path:focus {
    stroke: #483d8b;
    stroke-width: 3;
    outline: 0;
}