.SvgMap{
    margin: 1rem;
    width: 10rem;
}

.lan {
    fill : RGB(255,255,0);
    stroke : #cccccc;
}

path:hover{
    stroke-width: 0.2rem;
    stroke: darkslateblue;
    opacity: 0.5;
    cursor: pointer;
}

path:focus {
    outline: 0;
    stroke: #483d8b;
    stroke-width: 3;
    outline: 0;
}