.ThemeToggle button {
    border: none;
    background-color : transparent;
    outline: none;
}

.ThemeToggle button:hover{
    opacity: 0.3;
    cursor: pointer;
}

.ThemeToggle img {
    width: 2.5rem;
    height: 2.5rem;
}