/* Dark theme css */

.darkTheme {
    background: #282c34;
    color: whitesmoke;
}

header.darkTheme {
    background: grey;
    color: black;
}

.darkTheme table {
    color: black;
}

div.darkTheme {
    background: grey;
    color: black;
}

.darkTheme select{
    color: white;
    background: dimgrey;
}

.darkTheme table{
    color: white;
}

/* Light theme css*/

.lightTheme {
    background: whitesmoke;
}

header.lightTheme {
    background: #d6d1d1;
    color: black;
}

div.lightTheme {
    background: #d6d1d1;
}