.SummaryTableDiv{
    width: 100%;
    height: 96%;
    margin-right: 4%;
}

.SummaryTable {
    width: 100%;
    height: 41.13rem;
    background-color: transparent;
    padding: 1.63rem 0.5rem 0.5rem 0.5rem;
}

h1 {
    text-align: center;
}

td {
    text-align: right;
 }


th  {
    text-align: right;
    padding-bottom: 1.25rem;
}

.LeftAlign {
    text-align: left;
}